<div class="container">
  <div class="container col-md-8">
    <%= bootstrap_form_for([@barbecue, @supply], layout: :inline) do |f| %>
      <% if @supply.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@supply.errors.count, "error") %> prohibited this supply from being saved:</h2>
          <ul>
            <% @supply.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h2><%= @barbecue.title %></h2>
      <div class="form-inline">
        <%= f.number_field :quantity, hide_label: :true,  :placeholder => "Type a quantity", required: :true %>
        <div class="form-group">
          <input class="form-control typeahead" name="supply[ingredient[title]]" placeholder="Type an ingredient" required="required"/>
        </div>
        <div class="actions">
          <% if user_signed_in? %>
            <%= f.submit :class => 'btn btn-success btn-lg'  %>
          <% else %>
            <%= render "devise/sessions/block_new" %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
  <div class="container col-md-4">
    <h3>We already have</h3>
    <% if @barbecue.supply.count() > 0 %>
      <ul>
        <% @barbecue.supply.each() do |supply| %>
          <li><%= supply.quantity %> <%= supply.ingredient.title %></li>
        <% end %>
      </ul>
    <% else %>
      Nothing yet
    <% end %>
  </div>
</div>
