<% if not user_signed_in? %>
  <p>Please <%= link_to 'login', new_user_session_path %></p>
<% else %>
  <%= bootstrap_form_for([@barbecue, @supply], layout: :inline) do |f| %>
    <% if @supply.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@supply.errors.count, "error") %> prohibited this supply from being saved:</h2>
        <ul>
          <% @supply.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2><%= @barbecue.title %></h2>
    <div class="form-inline">
      <%= f.number_field :quantity, :placeholder => "42" %>
      <div class="form-group">
        <input class="form-control typeahead" name="supply[ingredient[title]]" placeholder="Chipolata"/>
      </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
