<% if not user_signed_in? %>
  <p>Please <%= link_to 'login', new_user_session_path %></p>
<% else %>
  <%= bootstrap_form_for(@barbecue) do |f| %>
    <% if @barbecue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@barbecue.errors.count, "error") %> prohibited this barbecue from being saved:</h2>

        <ul>
          <% @barbecue.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :title %>
    <%= f.date_select :begin_date %>
    <h3>Ingredients</h3>
    <%= f.fields_for(:barbecue_ingredient, layout: :inline) do |barbecue_ingredient| %>
      <div class="form-inline">
        <%= barbecue_ingredient.number_field :quantity, hide_label: :true, placeholder: "Quantity" %>
        <%= barbecue_ingredient.collection_select :ingredient_id, Ingredient.all, :id, :title, hide_label: :true, prompt: "Select ingredient" %>
        <%= barbecue_ingredient.check_box :_destroy %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit :class => 'btn btn-large btn-primary'  %>
    </div>
  <% end %>
<% end %>
