<%= form_for(@barbecue) do |f| %>
  <% if @barbecue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barbecue.errors.count, "error") %> prohibited this barbecue from being saved:</h2>

      <ul>
      <% @barbecue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :begin_date %><br>
    <%= f.date_select :begin_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
