<h1>Listing barbecues</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Begin at</th>
      <th>Organisator</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @barbecues.each do |barbecue| %>
      <tr>
        <td><%= link_to barbecue.title, barbecue %></td>
        <td><%= barbecue.begin_at %></td>
        <td><%= barbecue.user.name %></td>
        <td><% if user_signed_in? && current_user.id == barbecue.user.id %>
          <%= link_to 'Edit', edit_barbecue_path(barbecue) %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barbecue', new_barbecue_path %>
