<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @barbecue.title %>
</p>

<p>
  <strong>Organised by:</strong>
  <%= @barbecue.user.name %>
</p>


<p>
  <strong>Begin date:</strong>
  <%= @barbecue.begin_date %>
</p>
<p>
  <strong>Ingredients:</strong>
  <ul>
    <% @barbecue.barbecue_ingredient.each() do |barbecue_ingredient| %>
      <li><%= barbecue_ingredient.ingredient.title %> (<%= barbecue_ingredient.quantity %>)</li>
    <% end %>
  </ul>
  <%= link_to 'Add ingredients', new_barbecue_ingredient_path(@barbecue) %>
</p>
<h2>We already have</h2>
  <ul>
    <% @barbecue.supply.each() do |supply| %>
      <li><p><%= supply.quantity %> <%= supply.ingredient.title %></p></li>
    <% end %>
  </ul>
<h2>Who comes ?</h2>
  <ul>
    <% @barbecue.supply.each() do |supply| %>
      <li><p><%= supply.quantity %> <%= supply.ingredient.title %></p></li>
    <% end %>
  </ul>
<h2><%= link_to 'I bring something !', new_barbecue_supply_path(@barbecue) %></h2>
<% if user_signed_in? && current_user.id == @barbecue.user.id %>
          <%= link_to 'Edit', edit_barbecue_path(@barbecue) %> |
<% end %>
<%= link_to 'Back', barbecues_path %>
