<p id="notice"><%= notice %></p>

<h2>
  <%= @barbecue.title %>
</h2>

<p>
  <strong>Organised by:</strong>
  <%= @barbecue.user.name %>
</p>


<p>
  <strong>Begin date:</strong>
  <%= @barbecue.begin_date %>
</p>
<p>
  <strong>Ingredients:</strong>
  <ul>
    <% @barbecue.barbecue_ingredient.each() do |barbecue_ingredient| %>
      <li><%= barbecue_ingredient.ingredient.title %> (<%= barbecue_ingredient.quantity %>)</li>
    <% end %>
  </ul>
  <%= link_to 'Add ingredients', new_barbecue_ingredient_path(@barbecue) %>
</p>
<h3>We already have</h3>
<ul>
  <% @barbecue.supply.each() do |supply| %>
    <li><%= supply.quantity %> <%= supply.ingredient.title %></li>
  <% end %>
</ul>
<h3>Who comes ?</h3>
<% if @attending_users %>
  <ul>
    <% @attending_users.each() do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
<% end %>
<h3><%= link_to 'I bring something !', new_barbecue_supply_path(@barbecue) %></h3>
<% if user_signed_in? && current_user.id == @barbecue.user.id %>
          <%= link_to 'Edit', edit_barbecue_path(@barbecue) %> |
<% end %>
<%= link_to 'Back', barbecues_path %>
