<p id="notice"><%= notice %></p>
<h2><%= @barbecue.title %></h2>
<div class="container col-md-4 barbecue_details">
  <%= link_to 'I bring something !', new_barbecue_supply_path(@barbecue), class: "btn btn-primary btn-lg" %>
  <p><% if @barbecue.description %>
    <%= @barbecue.description %>
  <% else %>
    No description yet
  <% end %></p>
  <p>Begin at <%= @barbecue.begin_at %></p>
  <p>Organised by <%= @barbecue.user.name %></p>
  <%= render "youbring" %>
  <%= render "qrcode" %>
</div>
<div class="container col-md-8 barbecue_main">
  <%= render "activity" %>
  <%= render "weneed" %>
  <%= render "wehave" %>
</div>
<% if user_signed_in? and @barbecue.user.id == current_user.id %>
  <%= link_to 'Edit', edit_barbecue_path(@barbecue) %> |
<% end %>
<%= link_to 'Back', barbecues_path %>
