<h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :inline) do |f| %>
  <%= f.email_field :email, hide_label: :true, autofocus: true, placeholder: "user@bys.fr" %>
  <%= f.password_field :password, hide_label: :true, autocomplete: "off", placeholder: "Password" %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, hide_label: :true %></div>
  <% end %>

  <%= f.submit "Log in"%>
<% end %>
<%= link_to "Log with Facebook", user_omniauth_authorize_path("facebook"), class: "btn btn-primary" %><br/>

<small>
<%= render "devise/shared/links" %>
</small>
